.containerPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.titulo {
    color: var(--roxoEscuro);
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
}

.botao {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--roxoEscuro);
    border-radius: 10px;
    padding: 12px 24px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.1em;
    transition: background 0.3s ease;
    margin-bottom: 15%;
}

.botao:hover {
    background-color: #af45afce;;
}

.subContainer {
    display: flex;
    padding: 4em;
    gap: 3%;
    text-align: center;
    gap: 32%;
}

.tabela {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
}

.th{
    border: 1px solid var(--roxoEscuro);
    background-color: var(--roxoEscuro);
    color: #ffffff;
    padding: 12px 20px;
    color: var(--roxoEscuro);
}

.td {
    border: 0px solid var(--roxoEscuro);
    background-color: #af45afce;
    color: #ffffff;
    padding: 12px 20px;
}

.th {
    background-color: var(--roxoClaro);
    font-weight: bold;
}

.input {
    all: unset;
    border: 1px solid var(--roxoEscuro);
    padding: 12px;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    margin-bottom: 1%;
}

@media (max-width: 400px) {
    .containerPrincipal {
        padding: 1em;
    }

    .titulo {
        font-size: 1.5em;
        margin-bottom: 0.8em;
    }

    .botao {
        font-size: 1em;
        padding: 10px 20px;
        margin-bottom: 10%;
    }

    .subContainer {
        flex-direction: column;
        padding: 2em;
        gap: 20px;
    }

    .tabela {
        width: 100%;
        overflow-x: auto;
    }

    .th, .td {
        padding: 10px;
        font-size: 0.9em;
    }

    .input {
        padding: 10px;
        max-width: 250px;
        margin-bottom: 1.5%;
    }
}
